@font-face {
	font-family: 'NotoSans_Condensed';
	font-weight:700;
	font-style:normal;
	src: url("../fonts/NotoSans_Condensed-Bold.woff2") format("woff2"), url("../fonts/NotoSans_Condensed-Bold.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'NotoSans_Condensed';
	font-weight:800;
	font-style:normal;
	src: url("../fonts/NotoSans_Condensed-ExtraBold.woff2") format("woff2"), url("../fonts/NotoSans_Condensed-ExtraBold.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'NotoSans_Condensed';
	font-weight:500;
	font-style:normal;
	src: url("../fonts/NotoSans_Condensed-Medium.woff2") format("woff2"), url("../fonts/NotoSans_Condensed-Medium.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'NotoSans_Condensed';
	font-weight:400;
	font-style:normal;
	src: url("../fonts/NotoSans_Condensed-Regular.woff2") format("woff2"), url("../fonts/NotoSans_Condensed-Regular.woff") format("woff");
	font-display:swap;
}
@font-face {
	font-family: 'NotoSans_Condensed';
	font-weight:600;
	font-style:normal;
	src: url("../fonts/NotoSans_Condensed-SemiBold.woff2") format("woff2"), url("../fonts/NotoSans_Condensed-SemiBold.woff") format("woff");
	font-display:swap;
}
