:root {
  --swiper-theme-color: #1ead2b;
  --swiper-pagination-color: #1ead2b;
  // для полоски прогресса сайдера
}


$active: none;
$focus:none;
$hover:#1bc529;


$ac: #1ead2b;
// $default:$black;
$white: #FFFFFF;
$black: #000000;
$title: #436372;
$btn-menu:silver;
$btn:#1ead2b;

// color: #219653;



/*accent*/
// $orange: #FF9900;
// $green:#14B4BE;
// $green:#14B4BE;
// $antique:#fde7d3;
// $default: #243f4d;
// $Cream: #feefe2;
// $Crayola: #c2d2db;
// $red: #e72828;
// $red1 :#fe3e57;
// $orange: #ffa500;