.services {
    padding-bottom: 60px;

    @media (max-width: 992px) {
        padding-bottom: 50px;
    }

    @media (max-width: 768px) {
        padding-bottom: 35px;
    }

    @media (max-width: 575px) {
        padding-bottom: 20px;
    }

    @media all and (max-width: 1800px) and (orientation: landscape) {
        padding-bottom: 20px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        background-color: $white3;
        flex-wrap: wrap;

        @media (max-width: 1800px) {
            justify-content: center;
        }
    }

    &__item {
        padding: 45px 130px 40px 155px;
        background-repeat: no-repeat;
        border-right: 1px solid $white4;
        position: relative;

        @media (max-width: 1800px) {
            padding: 50px 65px 50px 120px;
        }

        @media (max-width: 1200px) {
            padding: 35px 35px 35px 95px;
            border: none;
        }

        @media (max-width: 575px) {
            padding: 20px 0px;
            width: 100%;
        }

        @media all and (max-width: 1800px) and (orientation: landscape) {
            padding: 100px 50px;
        }

        @media all and (max-width: 1200px) and (orientation: landscape) {
            padding: 92px 50px;
            border: none;
        }

        @media all and (max-width: 992px) and (orientation: landscape) {
            padding: 25px 50px;
        }


    }

    &__inner {
        display: flex;

        @media (max-width: 575px) {
            display: block;
        }
    }

    &__svg {
        margin-right: 20px;

        @media (max-width: 575px) {
            margin: 0 auto;
            display: flex;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-size: 18px;
        color: black7;
        margin-bottom: 10px;
        letter-spacing: 0.9px;
        line-height: 1.1;
        @include line-clamp-box(3);
    }

    &__text {
        font-family: $dmsans;
        font-weight: 400;
        color: $grey3;
        max-width: 210px;
        line-height: 1.8;
        letter-spacing: 0.3px;
        @include line-clamp-box(6);

        @media (max-width: 575px) {
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
            line-height: 1.4;

        }
    }
}